*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

nav
{    position: fixed;
    margin-top: 0px;
    background-color: white;
    width: 100%;
    z-index: 1;
}

nav ul li{
    display: inline;
    float: right;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

nav .shop-cart{
    margin-top: -10px;
    margin-right: 20px;
}

.nav-logo{
    margin-top: 15px;
    margin-left: 5px;

}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #000000;
    color: #ccc;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 28px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #000000;
    color: #000000;
}

.buy-btn{
    
    background: #000000;
    color: white;
    padding: 8px 30px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 0px;
    border: 1px solid;
    transition: background 0.5s;
    
}

.buy-btn:hover{
    background: transparent;
    cursor: pointer;
    color: #000000;
}

.header{
    background: rgb(182,208,223);
    background: linear-gradient(90deg, rgba(182,208,223,1) 0%, rgba(230,241,245,1) 100%);
}
.header .row{
    margin-top: 0px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: goldenrod;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* Offer */
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/* Testimonial */
.testimonial{
    margin-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* Brands */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/* Footer */
.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    display: inline;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* All Products */
.row-2{
    justify-content: space-between;
    margin: 0px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: white;
}

/* Single Product */
.single-product{
    margin-top: 0px;
    padding-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-left: 10px;
    border: 1px solid #ff523b;
    margin-right: 10px;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* Cart Items */
.cart-page{
    margin-top: 0px;
    padding-top: 100px;
}
table{
    width: 100%;
    border-collapse: collapse;
    position: relative;
    
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #000000;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: red;
    font-size: 20px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* Account page */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 100px;
    transition: transform 1s;
}

.button-container{
    background: #fff;
    width: 300px;
    height: ;
    position: relative;
    text-align: center;
    padding: 20px 10px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

/*Overlay effect*/
.overlay-container {
    position: ;
    width: 100%;
  }
  
  .overlay {
    box-sizing: border-box;
    position: absolute; 
    bottom: 0; 
    top:0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    color: #000000;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    display: inline;
  }
  
 


form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

#Indicator-Two{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(0px);
}

/*style for message box*/
.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(154, 205, 50, 0.8); /* Light green with transparency */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 9999;
    text-align: center;
    max-width: 90%;
    width: 200px; /* Adjust as needed */
    animation: fadeInOut 5s ease forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
    10% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Media query for menu */
@media only screen and (max-width: 800px){
   
    nav{
        display: none;
    }

    nav ul li:hover{
         background-color: #333;
    }

    .phone-nav{
        display: inline;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); 
        width: 100%;
        margin-top: -1px;
        padding: 15px;
    }

    .right-bar{
        float: right;
        font-size: larger;
        margin-right: 10px;
    }

    .fa-bars{
        margin-top: 0px;
        margin-left: 10px;
        font-size: 2rem;
        color: #000000 !important;
    }

    .fa-heart-o{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 25px;
        color: #000000;
        font-weight: 600;
    }

    .fa-shopping-bag{
        color: #00000086;
        font-size: 30px;
    }

    .fa-search{
        font-size: 25px;
        color: #000000;
    }

    .row .hero-img{
        display: none;
    }
 
    .container{
        margin-top: 10vh;
    }

    .header{
        background-image: url("../public/images/home_pic2.png");
        background-position: center;
        background-size: cover;
        padding-top: 130px;
        background-color: rgb(182,208,223);
        background-color: linear-gradient(90deg, rgba(182,208,223,1) 0%, rgba(230,241,245,1) 100%);
    }

   /* Dropdown button style */
.dropdown{
    display: inline;
}


.dropdown-btn {
    
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown content style */
  .dropdown-content {
    display: none;
    position: absolute;
    margin-top:0px;
    margin-left: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 6px;
  }
  
  /* Dropdown links style */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 0px;
    border: none;
   
  }
  
  /* Show the dropdown menu when dropdown button is clicked */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
}

/* Media query for 600 screen size */
@media only screen and (max-width: 600px){

    .row{
        text-align: center;
        padding-top: 40px;
    
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}

/*Checkout button*/
.check-btn{
    float: right;
}




