<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a profile || Page 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <div class="container">
        <h1>Add product | Admin</h1>
        <form action="/add_user" method="post">
            <div class="Box">
            <input type="text" name="title" placeholder="Title:"><br><br>
            <input type="text" name="image" placeholder="Image:"><br><br>
            <input type="text" name="price" placeholder="Price:"><br><br>
            </div>
            <textarea name="description" id="" cols="30" rows="10" placeholder="Description:"></textarea><br><br>
            <button type="submit" class="btn">Create</button><br><br>
        </form>
    </div>
</div>
    <script src="">
    </script>
</body>
</html>